*{box-sizing: border-box; margin: 0; padding: 0;}
body{background-color: #1d1d1d;}

::selection{background-color: transparent;}

.screen{
	height: 75px;
	width: 225px;
	border-radius: 15px;
	border: 8px solid #2b2b2b;
	background-color: #111;
	font-size: 50px;
	color: limegreen;
	padding: 0px 20px 0px 20px;
	letter-spacing: 26px;
	font-family: 'VT323', monospace;
	position: relative;
}
.flasher{
	content: "";
	display: block;
	width: 30px;
	height: 5px;
	background-color: limegreen;
	position: absolute;
	top: 55px;
	left: 20px;
	animation: blink 1s linear infinite;
	-webkit-animation: blink 1s linear infinite;
}
.keypad_wrapper{
	position: relative;
	width: 225px;
	height: 375px;
	background-color: #2b2b2b;
	margin: 100px auto;
}
.key{
	width: 75px;
	height: 75px;
	float: left;
	border-radius: 15px;
	border: 8px solid #2b2b2b;
	line-height: 58px;
	text-align: center;
	font-size: 50px;
	background-color: #3b3b3b;
	box-shadow: inset 0px -2px 0px rgba(0,0,0,.5), inset 0px 1px 0px rgba(255,255,255,.2);
	cursor: pointer;
	text-shadow: 0px -2px 2px rgba(0,0,0,.5), 0px 1px 2px rgba(255,255,255,.4);
	color: #eee;
}
.key:hover{
	background-color: #4b4b4b;
}
.key:active{
	background-color: #333;
	box-shadow: inset 0px -1px 0px rgba(255,255,255,.2), inset 0px 2px 0px rgba(0,0,0,.5);
	color: #aaa;
	line-height: 62px;
}
.key.last{
	position: relative;
	left: 75px;
}

.notification{
	color: limegreen;
	font-family: 'VT323', monospace;
	text-align: center;
	font-size: 40px;
	position: absolute;
	width: 225px;
	top: 15px;
	display: none;
}


@keyframes blink {
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}
@-webkit-keyframes blink {
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}